/* 
header {
  align-items: center;
} */
/* Jeanette added the styles below, delete if you dont want. Didnt feel the need for a 
header because of the links you provided. */
html {
  display: table;
  margin: auto;
  color:  #1c2834;
  background-color: #384555;

}


h1 {
font-family: 'Alex Brush', cursive;
font-family: 'Lobster', cursive;
font-size:60px;
font-weight: bold;
text-align: center;
}
       body {
          /* display: table-cell; */
          vertical-align: middle;
          padding-top: 50px;
          /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
          color: #1c2834;
          background-color:#f8f8ff;
          width: 1500px
          
          
      }
   /* jeanette added the above html and body, delete if you dont want*/

.HomePhoto {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: auto;
  background-color: #545D6C;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav {
    display: flex;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0px;
 } 

 .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  background-color: #1C2834;
  margin-top: -50px;
}

.row a {
  display: inline-block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration:#ccc;
  font-size: 17px;
}
.row a:hover {
  background-color: #f8f8ff;
  color: #384555;
}


/* 
.Navlogo { 
  justify-content: center;
  display: flex;
  width: auto;
  height: auto;
  /* position: absolute; */
} */

/* .Navcontainer {
  margin: 0px; 
  width: auto;
  justify-content: center;
} */

/* The navbar */
/* .topnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  overflow:hidden;
  background-color: #1C2834;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 20px;

} */

/* Navbar links */
/* .topnav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration:#ccc;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #545D6C;
  color: #384555, ;
} */

section {
  margin: auto;
  color:  #1c2834;
  background-color: #384555;
 } 
        

 footer {
  background-color: #1C2834;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-top: 2px solid #ccc;
  /* position: fixed; */
  }
                
 footer p {
   margin: 10px;
 }

.bio {
  font-family: 'Cinzel', serif;
  font-size: 50px;
  font-weight: bold;
  background-color:  rgba(216, 27, 56, 0);
  color:rgb(4, 4, 19);
  padding: 0px;
  justify-content: center;
  text-align: center;
  margin: auto;
  display: grid;
}

.calculator-class {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 40px;
  border: solid 2px;
  background-color: #545D6C ;
  color:rgb(4, 4, 19);
  padding: 20px;
  margin: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1 0 200px;
  max-width: 1400px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-content: space-around;
}

.meal-class {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 45px;
  border: solid 2px;
  background-color:  #545D6C;
  color:rgb(4, 4, 19);
  padding: 20px;
  margin: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1 0 200px;
  max-width: 1400px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.workout-class {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 45px;
  border: solid 2px;
  background-color: #545D6C;
  color:rgb(4, 4, 19);
  padding: 30px;
  margin: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1 0 200px;
  max-width: 1400px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /* justify-content: space-around;
  justify-content: center; */
}

              
/*               
                h1 {
                  text-align: center;
                  font-size: 100 px;
                }  */

body {
  background-color: #545D6C;
}

section {
  justify-content: center;
}

.reviews {
  margin: 0;
  justify-content: center;
  display: grid;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  border: solid 2px #545D6C;
  background-color: #545D6C;
  color:rgb(4, 4, 19);
  width: 30;
  height: 30;
}

#review-form label, #review-form textarea {
  display: block;
  margin-bottom: 10px;
}

#review-form textarea {
  height: 100px;
}

#review-form button {
  margin-top: 10px;
}

#review-list {
  list-style: none;
  padding: 0;
}

.review-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 8px solid  rgba(216, 27, 56, 0);
  border-radius: 10px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.reviews-header h3 {
  margin: 0;
  display: inline-grid;
  font: bold;
}

.review-date {
  font-style: italic;
}

.review-body {
  margin-top: 10px;
}


.review-form2 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  border: solid 8px;
  background-color: white;
  color:rgb(4, 4, 19);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


/* .reviews2 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  border: solid 10px;
  background-color: #545D6C;
  color:rgb(4, 4, 19);
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: auto;
  /* flex-wrap: wrap; */
  /* flex: 1 0 200px; */
  /* max-width: 500px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
} */ */

/* .review-list2 {
  list-style: none;
  padding: 0;
} */

.review-list2 ul {
  margin-bottom: 20px;
}

/* .review-header2 {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .review-header2 h3 {
  /* margin: 0; */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
} */ */

.review-date2 {
  font-style: italic;
  display: inline-flex;

}

.review-body2 {
  margin-top: 10px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  border: solid 10px;
  background-color: #545D6C;
  color:rgb(4, 4, 19);
  padding: 30px;
  margin: 15px;
  display: inline-flex;
  max-width: 300px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}




.reviews-list {
  list-style: none;
  margin-top: 10px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  background-color: white;
  color:rgb(4, 4, 19);
  padding: 50px;
  margin: auto;
  display: table-header-group;
  justify-content: center;
  align-items: center;
  max-width: 600px; 
}

.pagination {
  display: flex;
  justify-content: baseline;
  margin-top: 2px;
}

.pagination a {
  padding: 0;
  margin-right: 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.pagination a.active {
  background-color: #ccc;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .prev,
.pagination .next {
  margin-right: 10px;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-color: transparent;
}




