.MeetHeader {
    text-align: center;;
}

section1 {
    display: flex;
    border: 3px solid #000;
    text-indent: 10px;
    margin: 5px;
}

section2 {
    display: flex;
    border: 3px solid #000;
    text-indent: 10px;
    margin: 5px;
}

section3 {
    display: flex;
    border: 3px solid #000;
    text-indent: 10px;
    margin: 5px;
}

section4 {
    display: flex;
    border: 3px solid #000;
    text-indent: 10px;
    margin: 5px;
}

.pteam {
    margin-left: 20px;
    text-indent: 10px;
    text-align: left;
}